@model Data.TMU.Model.News.News
@inject Core.TMU.Service.ITMUService.INews Inews;
@using Core.TMU.Genarator
@using Core.TMU.Convertor
@using System.Text.Encodings.Web;


@{
    ViewData["Title"] = " خبر " + @Model.TitelNews;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var image = Inews.GetImageNews(@Model.IdNews);
}

<section>
    <img src="/Img/More/a818c06de7cacaecde49602dd615ed76f222fbda.jpg" class="w-100" />
</section>

<main role="main" class="container m-5">
    <div class="row news">
        <div class="col-md-6 blog-main ">
            @*<h3 class="pb-3 mb-4 font-italic border-bottom">

                </h3>*@

            <div class="blog-post">
                <h2 class="blog-post-title">@System.Net.WebUtility.HtmlEncode(Model.TitelNews)</h2>
                <hr>
                <p class="blog-post-meta">تاریخ:@Model.DetaNews.ToPeString("dddd, dd, MMMM,yyyy")&nbsp&nbsp&nbspبازدید:@Model.CountView &nbsp&nbsp&nbspنویسنده:@Model.author&nbsp&nbsp&nbspتعداد تصاویر:@image.Count</p>
                @{
                    if (Model.IsSearch == true)
                    {
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#one" type="button" role="tab" aria-controls="nav-home" aria-selected="true">مشخصات گیاه شناسی</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#two" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">نیاز های رویشگاهی</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#tree" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">خواص دارویی</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#four" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">پراکنش</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="nav-home-tab">@System.Net.WebUtility.HtmlEncode(Model.Description1)</div>
                            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="nav-profile-tab">@System.Net.WebUtility.HtmlEncode(Model.Description2)</div>
                            <div class="tab-pane fade" id="tree" role="tabpanel" aria-labelledby="nav-contact-tab">@System.Net.WebUtility.HtmlEncode(Model.Description3)</div>
                            <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="nav-contact-tab">@System.Net.WebUtility.HtmlEncode(Model.Description4)</div>
                        </div>
                    }
                }

                <br />
                @System.Net.WebUtility.HtmlEncode(Model.DescriptionNews);
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 rounded">
                <h3 class="blog-post-title">کلمات کلیدی</h3>
                <hr>
                <p class="mb-0">
                    <nav class="blog-pagination">
                        @{
                            foreach (var item in SpelitTag.tag(Model.Tags))
                            {
                                <a class="btn btn-outline-secondary" href="/MoreNews?tag=@item">@System.Net.WebUtility.HtmlEncode(item)</a>
                            }
                        }
                    </nav>
                </p>
            </div>
            @{
                if (image.Count != 0)
                {
                    <h3 class="blog-post-title">تصاویر</h3>
                    <hr>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                int i = 1;
                                foreach (var item in image)
                                {

                                    <div class="carousel-item @(i==1?"active":"")">
                                        <img src="@(item.PathFile==null?"/Img/default.jpg":"/Img/News/thum/"+item.PathFile)" class="d-block w-100" alt="...">
                                    </div>
                                    i++;
                                }
                            }

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }

            }

        </aside><!-- /.blog-sidebar -->


    </div><!-- /.row -->
</main>
