@using Data.TMU.Model
@model registerUser
@{

    Layout = null;
}
@await Html.PartialAsync("_HomeStyle");

<body class="light rtl">
    <div class="wrapper vh-100">

        <div class="row align-items-center h-100">


            <form asp-action="Register" method="post" class="col-lg-6 col-md-8 col-10 mx-auto">
                <input type="hidden" asp-for="IsNormalUser" value="true"/>
                <input type="hidden" asp-for="CaptchaCode" value="s"/>
                @*<div asp-validation-summary="All" class="text-danger">

                </div> *@
                <div class="mx-auto text-center my-4">
                    <a href="#">لوگو</a>
                    <h2 class="my-3">ثبت نام</h2>
                </div>

                <div class="form-group">
                    <label for="inputEmail4">ایمیل</label>
                    <input name="Email" type="email" class="form-control" id="inputEmail4">
                    @Html.ValidationMessageFor(tuple => tuple.Email)
                    <p></p>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">نام و نام خانوادگی</label>
                        <input name="FullName"  type="text" id="firstname" class="form-control">
                        @Html.ValidationMessageFor(tuple => tuple.FullName)
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mobile">موبایل</label>
                        <input name="Mobile"  type="text" id="mobile" class="form-control">
                        @Html.DisplayNameFor(model => model.Mobile)
                        @Html.ValidationMessageFor(tuple => tuple.Mobile)
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mobile">کدملی</label>
                        <input name="IdCode"  type="text" id="mobile" class="form-control">
                        @Html.DisplayNameFor(model => model.IdCode)
                        @Html.ValidationMessageFor(tuple => tuple.IdCode)
                    </div>

                </div>
                <hr class="my-4">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPassword5">کلمه عبور</label>
                            <input name="Password"  type="password" class="form-control" id="inputPassword5">
                            @Html.ValidationMessageFor(tuple => tuple.Password)
                        </div>
                        <div class="form-group">
                            <label for="inputPassword6">تکرار کلمه عبور</label>
                            <input name="RePassword"  type="password" class="form-control" id="inputPassword6">
                            @Html.ValidationMessageFor(tuple => tuple.RePassword)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2">پسورد امن</p>
                        <p class="small text-muted mb-2"> برای داشتن پسورد امن به نکات زیر توجه کنید: </p>
                        <ul class="small text-muted pl-4 mb-0">
                            <li>حداقل 8 کاراکتر </li>
                            <li>حداقل یک حروف بزرگ</li>
                            <li>حداقل یک عدد</li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">ثبت نام</button>
                <p class="mt-5 mb-3 text-muted text-center">© 2020</p>

            </form>

        </div>


    </div>
    @await Html.PartialAsync("_HomeScript");

</body>
