@model List<Data.TMU.Model.Page.FilePage>

@{
    ViewData["Title"] = "عکس های صفحه";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <form asp-action="DetailImagePage" method="post" id="form">
                    <input type="hidden" name="SelectFirst" value="" id="SelectFirst" />
                    <div class="row align-items-center my-4">
                        <div class="col">
                            <h2 class="h3 mb-0 page-title">Contacts</h2>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary"><span class="fe fe-trash fe-12 mr-2"></span>حذف همه</button>
                            <a href="/panel/CreatImagePage/@ViewBag.ID" class="btn btn-alert-primary"><span class="fe fe-trash fe-12 mr-2"></span>ثبت عکس</a>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            if (Model.Count != 0)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="hidden" asp-for="@item.PathFile" />
                                    <div class="col-md-3">
                                        <div class="card shadow mb-4">
                                            <div class="card-body text-center">
                                                <div class="avatar avatar-lg mt-4 w-100">
                                                    <a href="">
                                                        <img src="/Img/Page/thum/@item.PathFile" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-text my-2">
                                                    <label for="simpleinput">عنوان عکس</label>
                                                    <input asp-for="@item.TitelFilePage" type="text" id="simpleinput" placeholder="متن عکس را وارد کنید" class="form-control">
                                                    <span asp-validation-for="@item.TitelFilePage"></span>
                                                </div>
                                                <div class="custom-control custom-switch">
                                                    @{
                                                        if (item.IsFirst == true)
                                                        {
                                                            <input type="checkbox" class="custom-control-input" value="True" name="@item.IsFirst" id="@item.Id" onclick="submitchecked(@item.Id)" checked>

                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="custom-control-input" value="True" name="@item.IsFirst" id="@item.Id" onclick="submitchecked(@item.Id)">

                                                        }

                                                        <label class="custom-control-label" for=@item.Id>@(item.IsFirst==true?"به عنوان عکس اول قرار گیرد؟":"به عنوان عکس اول انتخاب شد")</label>
                                                    }
                                                </div>

                                                <div class="col-md-3 mx-auto mb-3">
                                                    @{
                                                        
                                                        
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox" value="@item.Id" name="CheckDelete" class="custom-control-input" id=@i>
                                                            <label class="custom-control-label" for=@i>حذف</label>
                                                        </div>
                                                        i++;
                                                    }
                                                </div>
                                                
                                            </div> <!-- ./card-text -->
                                </div>
                                    </div>
                                }

                            }
                        }
                    </div>
                    <div class="row">
                        <div class="form-row">
                            <div class="col-md-6 text-right">
                                <button class="btn btn-primary" type="submit" id="start_button">تغییرات</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div> <!-- .row -->

        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-flush my-n3">
                        <div class="list-group-item bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="fe fe-box fe-24"></span>
                                </div>
                                <div class="col">
                                    <small><strong>Package has uploaded successfull</strong></small>
                                    <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                    <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="fe fe-download fe-24"></span>
                                </div>
                                <div class="col">
                                    <small><strong>Widgets are updated successfull</strong></small>
                                    <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                                    <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="fe fe-inbox fe-24"></span>
                                </div>
                                <div class="col">
                                    <small><strong>Notifications have been sent</strong></small>
                                    <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                                    <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="fe fe-link fe-24"></span>
                                </div>
                                <div class="col">
                                    <small><strong>Link was attached to menu</strong></small>
                                    <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                                    <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div> <!-- / .list-group -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body px-5">
                    <div class="row align-items-center">
                        <div class="col-6 text-center">
                            <div class="squircle bg-success justify-content-center">
                                <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                            </div>
                            <p>Control area</p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                            </div>
                            <p>Activity</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6 text-center">
                            <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                            </div>
                            <p>Droplet</p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                            </div>
                            <p>Upload</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6 text-center">
                            <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-users fe-32 align-self-center text-white"></i>
                            </div>
                            <p>Users</p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                            </div>
                            <p>Settings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function submitchecked(id_DP) {
            $("#SelectFirst").val(id_DP)
            $("#form").submit();

        }
    </script>
</main>





