@model Data.TMU.User.Role
@inject Core.TMU.Service.ITMUService.IUser user
@inject Core.TMU.Service.ITMUService.IPermision _Permision

@{
    ViewData["Title"] = "تعریف و تغییر نقشهای پرسنلی";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";

    var role = ViewData["Role"] as List<Data.TMU.User.Role>;
    var Permision = ViewData["Permision"] as List<Data.TMU.Permissions.permission>;
    var permisionselect = ViewData["Permisionselect"] as List<int>;
    var RoleSelect = ViewBag.RoleSelect as Data.TMU.User.Role;
}

<main role="main" class="main-content">
    <div class="Header-Countainer mt-5">
        تعریف و تغییر نقشهای پرسنلی
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">

                <p class="text-muted">با ایجاد تعیین سطح دسترسی می توانید کاربران را محدود کنید.</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">لیست نقش ها</strong>
                            </div>
                            <div class="card-body">
                                <form class="needs-validation" asp-action="permision" method="post" id="form">
                                    <div class="mb-3">
                                        @*<p class="mb-2"></p>*@
                                        <div class="form-row m-2">
                                            @{
                                                int j = 0;
                                                foreach (var item in role)
                                                {
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" onclick="submitchecked()" value="@item.RoleId" id="customControlValidation@(j)" name="radiostackedRoleid" @(item.RoleId==ViewBag.roleid?"checked":"")>
                                                            <label class="custom-control-label" for="customControlValidation@(j)">@item.RoleTitle</label>
                                                        </div>
                                                    </div>
                                                    j++;
                                                }
                                            }

                                        </div>
                                    </div>
                                </form>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">ایجاد و ویرایش نقش و سطح</strong>
                            </div>
                            <div class="card-body">
                                <form asp-action="permision" method="post">
                                    <div class="col-md-6 mb-3">
                                        <label> نام نقش</label>
                                        <input type="text" class="form-control" asp-for="RoleTitle">
                                        <label> سطح</label>
                                        <input type="number" min="1" max="9" class="form-control" asp-for="Level">

                                        @{
                                            if (RoleSelect != null)
                                            {
                                                //<span asp-validation-for="RoleTitle"></span>
                                                <input type="hidden" asp-for="RoleId" value="@RoleSelect.RoleId" />
                                                <input type="hidden" asp-for="IsDelete" value="@RoleSelect.IsDelete" />

                                            }
                                        }
                                        <span asp-validation-for="RoleTitle"></span>
                                        @*<div class="valid-feedback"> شروع کنید </div>*@
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">لیست سطح ها</label>
                                        @{
                                            int i = 0;
                                            foreach (var item in Permision)
                                            {
                                                if (permisionselect != null)
                                                {
                                                    <div class=" custom-checkbox mb-3">
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" name="SelectListItem" id="@i" value="@item.PermissionId" checked="@(permisionselect.Contains(item.PermissionId))">
                                                            <label class="custom-control-label" for="@i">@item.PermissionTitel</label>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class=" custom-checkbox mb-3">
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" name="SelectListItem" id="@i" value="@item.PermissionId">
                                                            <label class="custom-control-label" for="@i">@item.PermissionTitel</label>
                                                        </div>
                                                    </div>
                                                }
                                                i++;

                                            }
                                        }
                                        @{
                                            if (RoleSelect != null)
                                            {
                                                if (_Permision.GetminmaxLevel().Item1 != RoleSelect.Level && _Permision.GetminmaxLevel().Item2 != RoleSelect.Level)
                                                {
                                                    if (_Permision.IsTrueFinalaproval() != true || _Permision.GetFinalRole().Level == RoleSelect.Level)
                                                    {
                                                        if (ViewBag.IsPermissionPrint != true)
                                                        {

                                                            <div class="form-row">
                                                                <div class="col-md-6">
                                                                    <div class="custom-control custom-switch">
                                                                        <input type="checkbox" class="custom-control-input" value="True" name="final" id="final" checked="@(ViewBag.Isfinal == true)">
                                                                        <label class="custom-control-label" for="final">تایید کننده دستور کار(ثبت شماره اندیکاتور) -سطح 2</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>تایید کننده دستور کار(ثبت شماره اندیکاتور) -سطح 2 در اتوماسیون برای نقشی ثبت شده است</p>
                                                    }

                                                }

                                            }

                                        }
                                        @{
                                            if (RoleSelect != null)
                                            {
                                                var p = _Permision.GetminmaxLevel().Item1;
                                                var t = _Permision.GetminmaxLevel().Item2;
                                                if (_Permision.GetminmaxLevel().Item1 != RoleSelect.Level && _Permision.GetminmaxLevel().Item2 != RoleSelect.Level)
                                                {
                                                    if (_Permision.IsTruePermitionPrint() != true || _Permision.GetPermitionPrintRole().Level == RoleSelect.Level)
                                                    {
                                                        if (ViewBag.Isfinal != true)
                                                        {

                                                            <div class="form-row">
                                                                <div class="col-md-6">
                                                                    <div class="custom-control custom-switch">
                                                                        <input type="checkbox" class="custom-control-input" value="True" name="PPrint" id="PPrint" checked="@(ViewBag.IsPermissionPrint == true)">
                                                                        <label class="custom-control-label" for="PPrint">تایید کننده سطج 1؟</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>تایید کننده سطح 1 در اتوماسیون برای نقشی ثبت شده است</p>
                                                    }
                                                }
                                            }

                                        }
                                        @{
                                            if (RoleSelect != null)
                                            {

                                                if (_Permision.Isendprosecc() != true   || _Permision.GetPermitionEndprosecc().Level == RoleSelect.Level)
                                                {
                                                    //if (ViewBag.EndProcess != true)
                                                    //{
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" value="True" name="EndP" id="EndP" checked="@(ViewBag.EndProcess == true)">
                                                                    <label class="custom-control-label" for="EndP">انتها چرخه؟</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    //}

                                                }
                                                else
                                                {
                                                    <p>اخرین نفر در  اتوماسیون برای نقشی ثبت شده است</p>
                                                }

                                            }

                                        }
                                        @{
                                            if (RoleSelect != null)
                                            {


                                                if (_Permision.Issignuchure() != true || _Permision.Getsignuchure().Level == RoleSelect.Level)
                                                {
                                                    //if (ViewBag.Signuchure != true)
                                                    //{
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="custom-control custom-switch">
                                                                <input type="checkbox" class="custom-control-input" value="True" name="Signuchure" id="Signuchure" checked="@(ViewBag.Signuchure == true)">
                                                                <label class="custom-control-label" for="Signuchure">امضا کننده؟</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    //}
                                                }
                                                else
                                                {
                                                    <p>امضا کننده در  اتوماسیون برای نقشی ثبت شده است</p>
                                                }

                                            }

                                        }

                                    </div>
                                    

                                    <div class="form-row m-2">
                                        <div class="col-md-6">

                                            @{
                                                if (RoleSelect != null)
                                                {
                                                    if (user.IsExistPost(RoleSelect.RoleId) != true)
                                                    {
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" value="True" name="DeleteRole" id="customPass">
                                                            <label class="custom-control-label" for="customPass">آیا می خواهید حذف کنید؟</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <p>جهت حذف نقش ابتدا افرادی که نقش مورد نظر را دارند باید حذف شوند</p>
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-outline-info" type="submit" id="start_button">تایید تغییرات</button>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->

                    </div> <!-- /.col -->

                </div> <!-- end section -->
            </div> <!-- /.col-12 col-lg-10 col-xl-10 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->

</main>
<script>
     function submitchecked() {
        $("#form").submit();

    }

</script>


