@model Data.TMU.Model.Page.Page
@using Core.TMU.Convertor
@inject Core.TMU.Service.ITMUService.IUser user
@{
    ViewData["Title"] = "ویرایش صفحه" + @Model.TitelPage;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="justify-content-center">
            <form asp-action="UpdatePage" method="post">
                <div class="col-12 col-xl-10">
                    <div class="row align-items-center my-4">
                        <div class="col">
                            <h2 class="h3 mb-0 page-title">ویرایش خبر</h2>
                        </div>
                    </div>
                    <input asp-for="author" type="hidden" value="@user.Getname(User.Identity.Name)">
                    <input asp-for="@Model.Id" type="hidden">
                    <input type="hidden" asp-for="DetaNews" value="@Model.DetaNews">
                    <input type="hidden" asp-for="CountView" value="@Model.CountView">

                    <hr class="my-4">
                    <h5 class="mb-2 mt-4">اطلاعات</h5>
                    <p class="mb-4">اطلاعات خواسته شده را تکمیل نمایید.</p>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">عنوان خبر</label>
                            <input asp-for="TitelPage" type="text" id="firstname" class="form-control">
                            <span asp-validation-for="TitelPage"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">کلمات کلیدی را با - انتخاب کنید</label>
                            <input asp-for="tag" type="text" id="lastname" class="form-control">
                            <span asp-validation-for="tag"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title">ویرایشگر</h5>
                                    <p>متن مورد نیاز خود را در ویرایشگر زیر وارد کنید</p>
                                    <!-- Create the editor container -->

                                    <textarea asp-for="Description" id="editor" class="form-control" rows="10"></textarea>
                                    <span asp-validation-for="Description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="form-row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary">ویرایش صفحه</button>
                        </div>
                    </div>
                </div> <!-- .col-12 -->

            </form>
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main>

